.App {
  width: 70%;
  margin: 0 auto;
  margin-top: 20rem;
  /* background-color: black; */
}
.slick-slide > div {
  margin: 0 10px;
  /* width: 250px !important; */
}
.slick-list {
  margin: 0 -10px;
}
.slick-slider {
  max-width: 100vw;
  /* width: 25rem; */
  /* overflow: hidden !important; */
}

.slick-arrow {
  background-color: black;
  /* color: black; */
  border-radius: 50%;
  /* fill: red; */
}

.slick-arrow:hover {
  background-color: red;
}
.card {
  /* margin-top: 20rem; */
  border: 1px solid #fff;
  background: black;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  /* width: 20px; */
  width: 25rem !important;
  color: #fff;
  cursor: pointer;
}
.card-top h1 {
  font-size: 0.9rem;
  margin: 20px;
}
.card-top > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: black;
}
.card-bottom {
  margin: 10px 20px;
}
.category {
  position: relative;
}
.category::before {
  content: "";
  background: rgb(255, 61, 61);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}
