.App {
  /* width: 1024px; */
  margin: 4rem auto;
}

.slick-slide {
  width: 300px !important;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  /* margin: 0 -10px; */
  width: 900px !important;
  margin: 0 auto;
}
.slick-slider {
  width: 1024px !important;
  margin: 0 auto !important;
}

.slick-track {
  /* width: 1024px !important; */
  /* margin-left: 4rem !important; */
}

.slick-arrow {
  background-color: black;
  /* color: black; */
  border-radius: 50%;
  /* fill: red; */
}

.slick-arrow:hover {
  background-color: red;
}

.slick-next {
  background-color: black;
  color: red;
}
.card {
  /* margin-top: 20rem; */
  border: none !important;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  height: 370px;
  /* width: 20px; */
  width: 300px !important;
  color: black;
  cursor: pointer;
  padding: 0 15px;
}
.card-top h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}

.card-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  width: 265px;
}

.card-bottom h3 {
  text-align: center;
  height: 80px;
  line-height: 1.4;
}
.card-top > img {
  width: 270px;
  height: 150px;
  object-fit: cover;
  background: black;
  border-radius: 10px;
}

.category {
  position: relative;
}
.category::before {
  content: "";
  background: rgb(255, 61, 61);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}
